/************************
		HEADER
*************************/
.header-container {
	/*background-image: url("../assets/images/rust.jpeg");*/
	background-color: rgba(0, 0, 0, 0.8);
	
}
.menu-container  > h3 {
	color: #DCDCDC;
}
 .menu-start > a, .menu-about > a, .menu-contact > a, .menu-projects > a {
	color: #DCDCDC;
}
/************************
		MAIN
************************/
.section-start {

	h1, h2 {
		color: #DCDCDC;
	}
}
.section-about {
	background-color: rgba(255, 255, 255, 0.6);
	.section-about-text {
		/*background-color: rgba(255, 255, 255, 0.8);*/
	}
	h2, p {
		
		color: black;
	}
}
.section-about-top-border {
	background-color: #000000;
	h2 {
		color: #fff;
	}
}
.contact-section-background {
	background-color: rgba(255, 255, 255, 0.8);
}
.section-contact {
	
	/*background-color: rgba(255, 255, 255, 0.4);*/

	h2, p {
		color: #DCDCDC;
	}
	.contact-item > a {
		color: #DCDCDC;
	}
	
}
.section-projects {
	background-color: rgba(255, 255, 255, 0.6);
}
/*.section-projects-text {
	
	color: #DCDCDC;
	
}*/
#gallery {
	p {
	 	/*background-color: rgba(255, 255, 255, 0.8);*/
		color: black;
	}
}
