/************************
		HEADER
*************************/
.header-container {
	/*background-image: url("../assets/images/rust.jpeg");*/
	background-color: rgba(0, 0, 0, 0.6);
	
}
.menu-container  > h3 {
	color: #DCDCDC;
}
 .menu-start > a, .menu-about > a, .menu-contact > a, .menu-projects > a {
	color: #DCDCDC;
}
/************************
		MAIN
************************/
.section-start {

	h1, h2 {
		color: #DCDCDC;
	}
}
.section-about {
	/*background-color: rgba(50, 50, 50, 0.5);*/

	h2, p {
		background-color: rgba(0, 0, 0, 0.7);
		color: #DCDCDC;
	}
}
.section-about-top-border {
	background-color: #000000;
	h2 {
		color: #fff;
	}
}
.section-contact {
	
	background-color: rgba(50, 50, 50, 0.5);

	h2, p {
		color: #DCDCDC;
	}
	.contact-item > a {
		color: #fff;
	}
	
}
.section-projects-text {
		color: #DCDCDC;
	
}
#gallery {
	p {
	 	background-color: rgba(0, 0, 0, 0.7);
		color: #DCDCDC;
	}
}
