/*************************************************
			MAIN SCSS is mobile first
*************************************************/
/*First 2 section in body*/
.section-main {
	height: 100%;
	/*overflow-y: scroll;
  	scroll-behavior: smooth;*/
}
.section-start {
	/*background-image: url("http://img09.deviantart.net/67dd/i/2014/189/9/a/passion_wasteland_by_bunsl-d7psb3k.jpg");*/
	background-image: url("https://wastelandsolution.se/wastelandrock.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 600px;

	h1 {
		font-family: 'Roboto: 500', sans-serif;
		text-shadow: 4px 4px 5px #000;
	}
	h2, p {
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
		margin: 3px;
		padding: 0;
		text-shadow: 4px 4px 5px #000;
	}
}
.background-section {
	background-image: url("https://wastelandsolution.se/wastelanddesert.jpg");

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main-logo {
	margin-bottom: 93px;
	width: 100%;
	max-width: 350px;

}
/*************************************************
			ABOUT SECTION
*************************************************/
.section-about {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

		p {
			font-family: 'Roboto', sans-serif;
		}

		.profile-pic {
			border: solid 5px black;
			border-radius: 300px;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			margin: 10px 0 30px 0;
			width: 100%;
			max-width: 350px;
			
		}
}
.section-about-top-border {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;

	img {
		width: 100%;
		max-width: 250px;
	}
}
.section-about-text {
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	p {
		font-family: 'Roboto: 500', sans-serif;	
		font-size: 20px;
		font-weight: bold;
		padding: 10px;
		line-height: 40px;
		margin: 5px;
		/*margin-right: 15px;
		margin-left: 15px;*/
		/*text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);*/
		/*text-shadow: black 0.1em 0.1em 0.2em;*/
	}
	.angular-link {
		color: red;
		font-size: bold;
		text-decoration: none;
	}

}
/*************************************************
			CONTACT SECTION
*************************************************/
.contact-section-background {
	background-image: url('https://wastelandsolution.se/wastelandcanyon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		max-width: 250px;
	}
}

.section-contact {
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/*margin: 60px 0 60px 0;*/

		p {
			font-family: 'Roboto: 500', sans-serif;
			font-size: 20px;
			font-weight: bold;
			padding: 5px;
			line-height: 35px;
			margin: 0 15px 30px 15px;
			text-shadow: 4px 4px 5px #000;
			/*text-shadow: black 0.1em 0.1em 0.2em;*/
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.contact-info-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 450px;
		}
		.contact-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;

		}
		.contact-item > a {
			font-size: 22px;
			font-family: 'Roboto: 500', sans-serif;
			text-decoration: none;
			text-shadow: 4px 4px 5px #000;
		}
}
/*************************************************
			PROJECTS SECTION
*************************************************/
.section-projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}
.section-projects-text {
	/*background-color: rgba(50, 50, 50, 0.5);*/

	p {
		font-family: 'Roboto: 500', sans-serif;
		font-weight: bold;
		font-size: 20px;
		padding: 10px;
		line-height: 30px;
		margin: 5px;
	}
}
.section-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	ul li {
		
		margin: 0;
		padding: 0;
		list-style: none;
		/*background-color: rgba(255, 255, 255, 0.8);*/

	}
	
	a  {
		text-decoration: none;
	}

	
	p {
		color: black;
		font-family: 'Roboto: 500', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		margin-top: 0;
		padding-top: 0;
		width: 100%;
		max-width: 450px;
		
	}

}
#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5px;
	padding: 5px;
	width: 100%;
}
.projects-images {
	width: 100%;
	max-width: 450px;
}