/*************************************************
			MAIN SCSS is mobile first
*************************************************/
/*First 2 section in body*/
.section-main {
	height: 100%;

}
.section-start {
	background-image: url("Store_StylizedWastelandRocks-mobile.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 600px;

	h1 {
		font-size: 22px;
		font-family: 'Roboto: 500', sans-serif;
		text-shadow: 4px 4px 5px #000;
	}
	h2, p {
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		margin: 3px;
		padding: 0;
		text-shadow: 4px 4px 5px #000;
	}
}
.background-section {
	background-image: url("moutainwallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main-logo {
	margin-bottom: 93px;
	width: 100%;
	max-width: 350px;

}
/*************************************************
			ABOUT SECTION
*************************************************/
.section-about {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

		p {
			font-family: 'Roboto', sans-serif;
		}

		.profile-pic {
			border: solid 5px black;
			border-radius: 300px;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			margin: 10px 0 30px 0;
			width: 100%;
			max-width: 350px;
			
		}
}
.section-about-top-border {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;

	img {
		width: 100%;
		max-width: 250px;
	}
}
.section-about-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	p {
		font-family: 'Roboto: 500', sans-serif;	
		font-size: 20px;
		padding: 10px;
		line-height: 40px;
		margin: 5px;
	}
	.angular-link {
		color: red;
		font-size: bold;
		text-decoration: none;
	}

}
/*************************************************
			CONTACT SECTION
*************************************************/
.contact-section-background {
	background-image: url('moutain_mobile.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	

	img {
		margin-top: 30px;
		width: 100%;
		max-width: 250px;
	}
	.contact-container {
		font-family: 'Roboto: 500', sans-serif;	
		font-size: 20px;
		padding: 10px;
		line-height: 40px;
		margin: 5px;
	}
	.link-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;

		a {
			font-size: 16px;
			font-family: 'Roboto: 500', sans-serif;	
			padding: 10px;
			line-height: 40px;
			margin: 2px;
			text-decoration-line: none;

			img {
				width: 100%;
				max-width: 35px;
				margin: 0 0 0 15px;
				padding: 0;

			}
		}
	}
}


/*************************************************
			PROJECTS SECTION
*************************************************/
.section-projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}
.section-projects-text {

	p {
		font-family: 'Roboto: 500', sans-serif;
		/*font-weight: bold;*/
		font-size: 20px;
		padding: 10px;
		line-height: 30px;
		margin: 5px;
	}
	a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		padding: 2px;
		text-shadow: black 0.1em 0.1em 0.2em;
	}
	
}

.section-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	ul li {
		
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	a  {
		text-decoration: none;
	}

	
	p {
		color: black;
		font-family: 'Roboto: 500', sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		margin-top: 0;
		padding-top: 0;
		width: 100%;
		max-width: 450px;
		
	}

}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5px;
	padding: 5px;
	width: 100%;


}
.projects-images {
	width: 100%;
	max-width: 450px;
}