/*************************
		HEADER
*************************/
.header-container {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	width: 100%;
	
}
.header-logo {
	box-shadow: -4px 5px 40px 0px rgba(0,0,0,0.75);
	width: 100%;
	max-width: 300px;
}


.menu > a {
	font-size: 18px;
}
/*Show fullscale menu*/
.menu {
	display: block;
}
.menu-start > a {
	display: block;
	font-family: 'Bowlby One SC', cursive;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.menu-about > a {
	display: block;
	font-family: 'Bowlby One SC', cursive;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.menu-contact > a {
	display: block;
	font-family: 'Bowlby One SC', cursive;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.menu-projects > a {
	display: block;
	font-family: 'Bowlby One SC', cursive;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.menu-start > a:hover { 
	color: #fad087;
}
.menu-about > a:hover {
	color: #e08f46;
}
.menu-contact > a:hover {
	color: #f5aa69;
}
.menu-projects > a:hover {
	color: #b2682b;
}
/* Hidding mobile menu in tablet size*/
.slide-menu-open {
	display: none;
}
/**************************
		SECTIONS
**************************/
.section-start {

	h1 {
		font-size: 40px;
	}
}
.main-logo {
	width: 100%;
	max-width: 600px;
}
/*.section-about {
	margin-top: 60px;
	height: 80vh;
	width: 85%;
}*/

.section-contact {
	margin-top: 60px;
	height: 50vh;
	width: 85%;
}