/*************************
		HEADER
*************************/
.header-container {
	padding: 20px 0;
	width: 100%;
	
}

.menu > a {
	font-size: 18px;
}
/*Show fullscale menu*/
.menu {
	display: block;
}
/* Hidding mobile menu in tablet size*/
.slide-menu-open {
	display: none;
}
/**************************
		SECTIONS
**************************/
.section-start {

	h1 {
		font-size: 40px;
	}
}

.section-about {
	margin-top: 60px;
	height: 80vh;
	width: 85%;
}

.section-contact {
	margin-top: 60px;
	height: 50vh;
	width: 85%;
}