/*************************
		HEADER
*************************/
.header-container {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	width: 100%;
	
}
.header-logo {
	box-shadow: -4px 5px 40px 0px rgba(0,0,0,0.75);
	width: 100%;
	max-width: 300px;
}


.menu > a {
	font-size: 18px;
}
/*Show fullscale menu*/
.menu-container {
	display: flex;
}
/*.menu { 
	display: block;
}*/
.menu-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 40px 0 0;
	padding: 0;
	width: 350px;
}
.menu-start > a {
	/*display: block;*/
	font-family: 'Roboto: 500', sans-serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: font-size 0.5s;
}
.menu-about > a {
	/*display: block;*/
	font-family: 'Roboto: 500', sans-serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: font-size 0.5s;
}
.menu-contact > a {
	/*display: block;*/
	font-family: 'Roboto: 500', sans-serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: font-size 0.5s;
}
.menu-projects > a {
	/*display: block;*/
	font-family: 'Roboto: 500', sans-serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: font-size 0.5s;
}
.menu-start > a:hover { 
	color: #fad087;
	font-size: 28px;
}
.menu-about > a:hover {
	color: #e08f46;
	font-size: 28px;
	
}
.menu-contact > a:hover {
	color: #f5aa69;
	font-size: 28px;
	
}
.menu-projects > a:hover {
	color: #b2682b;
	font-size: 28px;
	
}

/* Hidding mobile menu in tablet size*/
.mobile-menu {
	display: none;
}
.slide-menu-open {
	display: none;
}
/**************************
		SECTIONS
**************************/
.section-start {

	h1 {
		font-size: 40px;
	}
}
.main-logo {
	width: 100%;
	max-width: 600px;
}
/*.section-about {
	margin-top: 60px;
	height: 80vh;
	width: 85%;
}*/
.contact-section-background{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	height: 600px;
}
.section-contact {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
	width: 50%;

}
.contact-info-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 50%;
}
.contact-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;

}
.contact-item > a {
	font-size: 22px;
	font-family: 'Roboto: 500', sans-serif;
	text-decoration: none;
	text-shadow: 4px 4px 5px #000;
}
/*.link-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 500px;
	width: 35%;

	.linkedin-icon {
		width: 100%;
		max-width: 100px;
	}
	.facebook-icon {
		width: 100%;
		max-width: 70px;
		margin-bottom: 23px;
	}
}*/
/*.contact-info-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 450px;
}*/